@inherits LayoutComponentBase

@inject AppState AppState;
@inject HttpClient Http;
@inject ISnackbar Snackbar;
@inject IDialogService DialogService;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*https://mudblazor.com/docs/overview*@

<div class="app-layout">
    <div class="app-header">
        <MudToolBar Dense="true" DisableGutters="true" Class="px-3">
            
            <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="mx-0 px-0">
                <MudSelect T="string" @bind-Value="AppState.CurrentInfoBase" Label="Текущая база данных"
                           Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true">
                    @foreach (string name in InfoBaseList)
                    {
                        <MudSelectItem Value="name" />
                    }
                </MudSelect>
            </MudContainer>

            <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="ml-3">
                <MudTooltip Text="Обновить список баз данных">
                    <MudIconButton Icon="@Icons.Material.Outlined.Refresh" Color="Color.Info" Size="Size.Small" OnClick="RefreshInfoBaseList" />
                </MudTooltip>
                <MudTooltip Text="Добавить базу данных">
                    <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Success" Size="Size.Small" OnClick="RegisterNewInfoBase" />
                </MudTooltip>
                <MudTooltip Text="Удалить базу данных">
                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Size="Size.Small" OnClick="UnRegisterInfoBase" />
                </MudTooltip>
            </MudContainer>

            <MudSpacer />
            <MudIconButton Icon="@Icons.Custom.Brands.Telegram" Size="Size.Small" Href="https://t.me/dajet_studio" />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" Href="https://github.com/zhichkin/dajet" />
        </MudToolBar>
    </div>
    <div class="app-lpanel">
        <MainTreeView />
    </div>
    <div class="app-rpanel">
        @Body
    </div>
    <div class="app-footer">
        <MudText Typo="Typo.body2" Class="ml-2">@FooterText</MudText>
    </div>
</div>