@inherits LayoutComponentBase

@inject NavigationManager Navigator;
@inject AppState AppState;
@inject HttpClient Http;
@inject ISnackbar Snackbar;
@inject IDialogService DialogService;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*https://mudblazor.com/docs/overview*@

<div class="app-layout">
    <div class="app-header">
        <MudToolBar Dense="true" DisableGutters="true" Class="px-3">
            
            <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="mx-0 px-0">
                <MudSelect T="InfoBaseModel" @bind-Value="AppState.CurrentDatabase" Label="Текущая база данных"
                           Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true">
                    @foreach (InfoBaseModel model in AppState.DatabaseList)
                    {
                        <MudSelectItem Value="model">@model.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudContainer>

            <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="ml-3">
                <MudTooltip Text="Домашняя страница">
                    <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Default" Size="Size.Small" OnClick="NavigateToHomePage" />
                </MudTooltip>
                <MudTooltip Text="Добавить базу данных">
                    <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Success" Size="Size.Small" OnClick="RegisterNewInfoBase" />
                </MudTooltip>
                <MudTooltip Text="Обновить список баз данных">
                    <MudIconButton Icon="@Icons.Material.Outlined.Refresh" Color="Color.Info" Size="Size.Small" OnClick="RefreshInfoBaseList" />
                </MudTooltip>
                <MudTooltip Text="Удалить базу данных">
                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Size="Size.Small" OnClick="UnRegisterInfoBase" />
                </MudTooltip>
                @*<MudTooltip Text="Создать новый скрипт">
                    <MudIconButton Icon="@Icons.Material.Outlined.Description" Color="Color.Default" Size="Size.Small" OnClick="CreateNewScript" />
                </MudTooltip>*@
            </MudContainer>

            <MudSpacer />
            
            <MudIconButton Icon="@Icons.Custom.Brands.Telegram" Size="Size.Small" Color="Color.Info" Href="https://t.me/dajet_studio_group" />
            <MudIconButton Icon="@Icons.Material.Outlined.Info" Size="Size.Small" Color="Color.Dark"  Href="https://zhichkin.github.io/" />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" Color="Color.Dark" Href="https://github.com/zhichkin/dajet" />
            
        </MudToolBar>
    </div>
    <div class="app-lpanel">
        <MainTreeView />
    </div>
    <div class="app-rpanel">
        @Body
    </div>
    <div class="app-footer">
        <MudText Typo="Typo.body2" Class="ml-2">@AppState.FooterText</MudText>
    </div>
</div>