@page "/dajet-flow/pipeline/{uuid:guid?}"

@inject HttpClient Http;
@inject AppState AppState;
@inject NavigationManager Navigator;

<style>
    .mud-expand-panel-icon { order: 1; }
    .mud-expand-panel-text { order: 2; }
</style>

<div style="margin:5px;">

    <span style="font-weight:bold;">[@Model.Name] {@Model.Uuid}</span>

    <MudExpansionPanels MultiExpansion="true" Dense="true">
        <MudExpansionPanel Dense="true">
            <TitleContent>
                <MudTextField T="string" @bind-Value="@Model.Name" Margin="Margin.Dense" />
            </TitleContent>
            <ChildContent>
                <table style="border: 1px solid black">
                    @foreach (var option in Model.Options)
                    {
                        <tr>
                            <td style="padding: 2px">@option.Key</td>
                            <td style="padding: 2px">@option.Value</td>
                        </tr>
                    }
                </table>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>

    <MudExpansionPanels MultiExpansion="true" Dense="true">

        @foreach (PipelineBlock block in Model.Blocks)
        {
            <MudExpansionPanel Dense="true">

                <TitleContent>
                    <span style="font-weight:bold;">@block.Handler</span>
                </TitleContent>

                <ChildContent>

                    <table style="border: 1px solid black">

                        @foreach (var option in block.Options)
                        {
                            <tr>
                                <td style="padding: 2px">@option.Key</td>
                                <td style="padding: 2px">@option.Value</td>
                            </tr>
                        }

                    </table>

                </ChildContent>

            </MudExpansionPanel>
        }

    </MudExpansionPanels>

</div>