@page "/dajet-flow"

@inject HttpClient Http;
@inject AppState AppState;
@inject NavigationManager Navigator;

<div style="margin:5px;">

    <MudField Variant="Variant.Text" DisableUnderLine="true" FullWidth="false" Margin="Margin.Dense">DaJet Flow (конвейеры данных)</MudField>

    <MudTooltip Text="Создать новый">
        <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Success" Size="Size.Small" OnClick="CreatePipelinePage" />
    </MudTooltip>
    <MudTooltip Text="Обновить список">
        <MudIconButton Icon="@Icons.Material.Outlined.Refresh" Color="Color.Info" Size="Size.Small" OnClick="RefreshPipelineList" />
    </MudTooltip>
    <MudTooltip Text="Закрыть страницу">
        <MudIconButton Icon="@Icons.Material.Outlined.Close" Color="Color.Error" Size="Size.Small" OnClick="NavigateToHomePage" />
    </MudTooltip>

    <MudTable Items="@Pipelines" T="PipelineInfo" OnRowClick="RowClickEvent"
              Loading="@IsLoading" LoadingProgressColor="Color.Info" Hover="true">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Uuid</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name"><MudLink Href=@("/dajet-flow/pipeline/" + context.Uuid.ToString().ToLower())>@context.Name</MudLink></MudTd>
            <MudTd DataLabel="Uuid">@context.Uuid</MudTd>
        </RowTemplate>
    </MudTable>

</div>