@page "/dajet-flow/pipeline/{uuid:guid?}"

@inject HttpClient Http;
@inject AppState AppState;
@inject NavigationManager Navigator;
@inject IDialogService DialogService;

<style>
    .mud-expand-panel-icon { order: 1; }
    .mud-expand-panel-text { order: 2; }
</style>

<div style="margin:5px;overflow:scroll;">

    <MudToolBar>
        <MudButton OnClick="SelectPipelineBlock" Size="Size.Small">Add block</MudButton>
        <MudButton OnClick="CreateUpdatePipeline" Size="Size.Small">Save</MudButton>
        <MudButton OnClick="DeletePipeline" Size="Size.Small">Delete</MudButton>
    </MudToolBar>

    <MudTextField T="string" Label="Pipeline" @bind-Value="@Model.Name" Variant="Variant.Outlined" Margin="Margin.Dense" />

    <MudExpansionPanels MultiExpansion="true" Dense="true">

        <MudExpansionPanel Dense="true">
            <TitleContent>
                <span style="font-weight:bold;">Pipeline Options</span>
            </TitleContent>
            <ChildContent>
                @if (@Model.Options.Count == 0)
                {
                    <MudField Variant="Variant.Text" DisableUnderLine="true" FullWidth="false" Margin="Margin.Dense">No options</MudField>
                }
                else
                {
                    <MudTable T="OptionItem" Items="@Model.Options" Hover="true" Dense="true">
                        <HeaderContent>
                            <MudTh>Name</MudTh>
                            <MudTh>Type</MudTh>
                            <MudTh>Value</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Name">@context.Name</MudTd>
                            <MudTd DataLabel="Type">@context.Type</MudTd>
                            <MudTd DataLabel="Value">
                                <MudTextField T="string" @bind-Value="@context.Value" Variant="Variant.Text" DisableUnderLine="true" Margin="Margin.Dense" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </ChildContent>
        </MudExpansionPanel>
    
        @foreach (PipelineBlock block in Model.Blocks)
        {
            <MudExpansionPanel Dense="true">
                <TitleContent>
                    <span style="font-weight:bold;">@block.Handler</span><span>&nbsp;&lt;</span>
                    <span style="font-weight:bold;">@block.Message</span><span>&nbsp;&gt;</span>
                </TitleContent>
                <ChildContent>
                    @if (@block.Options.Count == 0)
                    {
                        <MudField Variant="Variant.Text" DisableUnderLine="true" FullWidth="false" Margin="Margin.Dense">No options</MudField>
                    }
                    else
                    {
                        <MudTable T="OptionItem" Items="@block.Options" Hover="true" Dense="true">
                            <HeaderContent>
                                <MudTh>Name</MudTh>
                                <MudTh>Type</MudTh>
                                <MudTh>Value</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Name">@context.Name</MudTd>
                                <MudTd DataLabel="Type">@context.Type</MudTd>
                                <MudTd DataLabel="Value">
                                    <MudTextField T="string" @bind-Value="@context.Value" Variant="Variant.Text" DisableUnderLine="true" Margin="Margin.Dense" />
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    }
                </ChildContent>

            </MudExpansionPanel>
        }

    </MudExpansionPanels>

</div>