@page "/dajet-flow/pipeline/{uuid:guid?}"

@inject HttpClient Http;
@inject IJSRuntime JSRuntime;
@inject NavigationManager Navigator;
@inject IDialogService DialogService;

<style>
    .mud-expand-panel-icon { order: 1; }
    .mud-expand-panel-text { order: 2; }
</style>

<div style="margin:5px;overflow:scroll;">

    <div style="margin: 0px 0px 15px 0px;">

        <MudTooltip Text="Back to pipeline list">
            <MudIconButton Icon="@Icons.Material.Outlined.ArrowBack" Color="Color.Default" Size="Size.Small" OnClick="NavigateToPipelineList" />
        </MudTooltip>

        <MudTooltip Text="Save changes">
            <MudButton OnClick="CreateUpdatePipeline" Size="Size.Small" Variant="Variant.Filled" Color="Color.Info">Save</MudButton>
        </MudTooltip>

        @if (IsNewPipeline)
        {
            <MudTooltip Text="Add pipeline block">
                <MudButton OnClick="SelectPipelineBlock" Size="Size.Small" Variant="Variant.Filled" Color="Color.Success">Add block</MudButton>
            </MudTooltip>
        }
        else
        {
            <MudTooltip Text="Delete pipeline permanently">
                <MudButton OnClick="DeletePipeline" Size="Size.Small" Variant="Variant.Filled" Color="Color.Error">Delete</MudButton>
            </MudTooltip>
        }

        <MudTooltip Text="Copy pipeline UUID to clipboard">
            <MudButton OnClick="CopyUuidToClipboard" Size="Size.Small" Variant="Variant.Filled" Color="Color.Default">@Model.Uuid</MudButton>
        </MudTooltip>

    </div>

    <div style="margin: 0px 0px 10px 0px;">
        <MudTextField T="string" Label="Pipeline" @bind-Value="@Model.Name" Variant="Variant.Outlined" Margin="Margin.Dense" />
    </div>

    <MudSelect T="ActivationMode" Label="Activation" @bind-Value="@Model.Activation" Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true">
        
        @foreach(var value in Enum.GetValues<ActivationMode>())
        {
            <MudSelectItem Value="@value" />
        }

    </MudSelect>
    
    <MudExpansionPanels MultiExpansion="true" Dense="true">

        <MudExpansionPanel Dense="true">
            <TitleContent>
                <span style="font-weight:bold;">Pipeline Options</span>
            </TitleContent>
            <ChildContent>
                @if (@Model.Options.Count == 0)
                {
                    <MudField Variant="Variant.Text" DisableUnderLine="true" FullWidth="false" Margin="Margin.Dense">No options</MudField>
                }
                else
                {
                    <MudTable T="OptionItem" Items="@Model.Options" Hover="true" Dense="true">
                        <HeaderContent>
                            <MudTh>Name</MudTh>
                            <MudTh>Type</MudTh>
                            <MudTh>Value</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Name">@context.Name</MudTd>
                            <MudTd DataLabel="Type">@context.Type</MudTd>
                            <MudTd DataLabel="Value">
                                <MudTextField T="string" @bind-Value="@context.Value" Variant="Variant.Text" DisableUnderLine="true" Margin="Margin.Dense" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </ChildContent>
        </MudExpansionPanel>
    
        @foreach (PipelineBlock block in Model.Blocks)
        {
            <MudExpansionPanel Dense="true">
                <TitleContent>
                    <span style="font-weight:bold;">@block.Handler</span><span>&nbsp;&lt;</span>
                    <span style="font-weight:bold;">@block.Message</span><span>&nbsp;&gt;</span>
                </TitleContent>
                <ChildContent>
                    @if (@block.Options.Count == 0)
                    {
                        <MudField Variant="Variant.Text" DisableUnderLine="true" FullWidth="false" Margin="Margin.Dense">No options</MudField>
                    }
                    else
                    {
                        <MudTable T="OptionItem" Items="@block.Options" Hover="true" Dense="true">
                            <HeaderContent>
                                <MudTh>Name</MudTh>
                                <MudTh>Type</MudTh>
                                <MudTh>Value</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Name">@context.Name</MudTd>
                                <MudTd DataLabel="Type">@context.Type</MudTd>
                                <MudTd DataLabel="Value">
                                    <MudTextField T="string" @bind-Value="@context.Value" Variant="Variant.Text" DisableUnderLine="true" Margin="Margin.Dense" />
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    }
                </ChildContent>

            </MudExpansionPanel>
        }

    </MudExpansionPanels>

</div>