@page "/script-editor/{uuid:guid?}"

@inject HttpClient Http;
@inject AppState AppState;
@inject NavigationManager Navigator;

<div class="script-editor-layout">

    <div class="script-editor-action">
        
        <div style="margin:5px;">
            <span style="font-weight:bold;">@DatabaseName</span>
            <MudTooltip Text="Закрыть скрипт">
                <input type="button" value="✕" class="script-editor-close-button" @onclick="CloseScriptEditor">
            </MudTooltip>
            <span style="font-weight:bold;display:block;">@ScriptUrl</span>
        </div>

        <div>
            <input type="button" class="script-editor-button" value="SQL" @onclick="ExecuteScriptSql">
            <input type="button" class="script-editor-button" value="JSON" @onclick="ExecuteScriptJson">
            <input type="button" class="script-editor-button" value="Таблица" @onclick="ExecuteScriptTable">
            @if (ScriptIsChanged)
            {
                <MudTooltip Text="Сохранить изменения">
                    <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Dark" Size="Size.Small" OnClick="SaveScriptCommand" />
                </MudTooltip>
            }
        </div>
    </div>

    <div class="script-editor-script">
        <textarea @oninput="OnScriptChanged" style="border: 1px solid black; padding: 3px; white-space: nowrap;" rows="10">
            @Model.Script
        </textarea>
    </div>

    <div class="script-editor-result">
        
        @if (!string.IsNullOrEmpty(ErrorText))
        {
            <span style="color:red;margin:5px">@ErrorText</span>
        }
        else if (!string.IsNullOrEmpty(ResultText))
        {
            <textarea style="border:none; margin:5px;" rows="10">@ResultText</textarea>
        }
        else if (ResultTable is not null && ResultTable.Count > 0)
        {
            <table style="border: 1px solid black">

                <tr>
                    @foreach (string name in ResultTable[0].Keys)
                    {
                        <td style="padding: 2px; border: 1px solid black; font-weight: bold;">@name</td>
                    }
                </tr>

                @foreach (var row in ResultTable)
                {
                    <tr>
                        @foreach (string name in row.Keys)
                        {
                            <td style="padding: 2px; border: 1px solid black;">@row[name]</td>
                        }
                    </tr>
                }

            </table>
        }
        
    </div>

</div>