@page "/metadata-object-page/{url}"

@inject DaJetHttpClient DaJetClient;
@inject NavigationManager Navigator;

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    tr:hover {
        background-color: antiquewhite;
    }
    th {
        resize: horizontal;
        overflow: auto;
        border: solid black 1px;
        padding: 5px;
        position: sticky;
        top: 0px;
        background-color: lightgray;
    }
    td {
        border: solid black 1px;
        padding: 5px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>

<div style="overflow:hidden;display:grid;grid-template-rows:repeat(3);align-self:stretch;justify-self:stretch;align-content:start;">

    <div style="margin:5px 0px 5px 5px;align-self:start;justify-self:start;">
        <h4>URL: @Url</h4>
    </div>

    <div style="margin-left:5px;align-self:start;justify-self:start;">
        <span style="display:block;">Тип: @Model.Type</span>
        <span style="display:block;">Имя: @Model.Name</span>
        <span style="display:block;">Полное имя: @Model.FullName</span>
        <span style="display:block;">Синоним: @Model.Alias</span>
        <span style="display:block;">Код типа: @Model.Code</span>
        <span style="display:block;">Таблица: @Model.DbTable</span>
        <span style="display:block;">Идентификатор: @Model.Uuid</span>
    </div>

    <div style="overflow:hidden;display:grid;align-self:stretch;justify-self:stretch;">

        <span style="margin:5px;"><b>Свойства</b></span>

        <div style="overflow:auto;">
            <table>

                <thead>
                    <tr>
                        <th>Свойство</th>
                        <th>Наименоввание</th>
                        <th>Поля СУБД</th>
                        <th>Тип данных</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (PropertyModel property in Model.Properties)
                    {
                        <tr>
                            <td>@property.Purpose</td>
                            <td>@property.Name</td>
                            <td>
                                @if (property.Columns.Count > 1)
                                {
                                    @if (IsPropertyColumnPopupActive(property))
                                    {
                                        <div>
                                            <input type="button" value="-" @onclick="() => HidePropertyColumnPopup(property)"
                                                   style="margin-right:3px;cursor:pointer;border:none;background:none;" />
                                            @foreach (ColumnModel column in property.Columns)
                                            {
                                                <span style="display:block;">@column.DbName</span>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <span @onclick="() => ShowPropertyColumnPopup(property)"
                                              style="cursor:pointer;">+ @property.Columns[0].DbName</span>
                                    }
                                }
                                else if (property.Columns.Count > 0)
                                {
                                    <span>@property.Columns[0].DbName</span>
                                }
                            </td>
                            <td>
                                @if (property.DataType.Count > 1 || property.References.Count > 1)
                                {
                                    <span @onclick="() => ShowPropertyReferencesPopup(property)"
                                          style="color:blue;text-decoration:underline;cursor:pointer;">Составной тип</span>
                                }
                                else if (property.DataType.Count > 0)
                                {
                                    <span>@property.DataType[0].Type</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@* <div style="@(PropertyColumnPopupIsActive ? "display: block;" : "display: none;")">
    @foreach (ColumnModel column in SelectedProperty.Columns)
    {
        <span style="display:block;">@column.DbName</span>
    }
</div> *@