@page "/flow/table/{uuid:guid?}"

@inject IDomainModel DomainModel;
@inject DaJetHttpClient DataSource;
@inject NavigationManager Navigator;

<style>
    th {
        resize: horizontal;
        overflow: auto;
        border: solid black 1px;
        padding: 5px;
        position: sticky;
        top: 0px;
        background-color: lightgray;
    }
    td {
        border: solid black 1px;
        padding: 5px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .flow-layout {
        display: grid;
        gap: 1px;
        padding: 1px;
        margin: 5px;
        align-content: start;
        height: calc(100vh - 60px);
        grid-template:
            "pipeline-header" min-content
            "pipeline-content" / 1fr;
    }

    .flow-header {
        display: grid;
        grid-area: pipeline-header;
    }

    .flow-content {
        display: grid;
        grid-area: pipeline-content;
        overflow: scroll;
        white-space: nowrap;
    }
</style>

<div class="flow-layout">

    <div class="flow-header">
        <p>
            <span style="font-weight:bold;margin-right:5px;">@TreeNodeName</span>
            <img src="/img/refresh.png" class="dajet-icon-button" @onclick="RefreshPipelineList" />
            <input type="button" value="✕" @onclick="NavigateToHomePage"
                   style="margin-left:5px;cursor:pointer;border:none;background:none;color:red;font-weight:bold;" />
        </p>
    </div>

    <div class="flow-content">
        
        <table style="border-collapse:collapse;width:100%;">

            <thead>
                <tr>
                    <th></th>
                    <th>Конвейер</th>
                    <th>Активация</th>
                    <th>Состояние</th>
                    <th>Начало</th>
                    <th>Завершение</th>
                    <th style="min-width:30px;max-width:200px;">Комментарий</th>
                </tr>
            </thead>

            <tbody>

                @foreach (PipelineInfo info in Pipelines)
                {
                    <tr>
                        <td>
                            @if (info.State == PipelineState.Idle)
                            {
                                <img src="/img/start.png" class="dajet-icon-button" @onclick="async ()=> await ExecutePipeline(info)" />
                            }
                            else if (info.State != PipelineState.None)
                            {
                                <img src="/img/stop.png" class="dajet-icon-button" @onclick="async ()=> await DisposePipeline(info)" />
                            }
                        </td>
                        <td>
                            @if (Uuid == Guid.Empty)
                            {
                                @info.Name
                            }
                            else
                            {
                                <span @onclick="async ()=> await NavigateToPipelinePage(info)"
                                      style="color:blue;text-decoration:underline;cursor:pointer;">@info.Name</span>
                            }
                        </td>
                        <td>@info.Activation</td>
                        <td>@info.State</td>
                        <td>@info.Start.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@info.Finish.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@info.Status</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>