@page "/flow/table/{uuid:guid?}"

@inject IDomainModel DomainModel;
@inject DaJetHttpClient DataSource;
@inject NavigationManager Navigator;

<style>
    th {
        resize: horizontal;
        overflow: auto;
        border: solid black 1px;
        padding: 5px;
        position: sticky;
        top: 0px;
        background-color: lightgray;
    }
    td {
        border: solid black 1px;
        padding: 5px;
    }
    .dajet-button {
        cursor: pointer;
        margin-left: 5px;
        min-width: 75px;
        padding: 0px 5px 0px 5px;
        border: 1px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
</style>

<div style="margin:5px;">
    <span style="font-weight:bold;margin-right:5px;">@TreeNodeName</span>
    <input type="button" value="✕" style="cursor:pointer;border:none;background:none;" @onclick="NavigateToHomePage">
    <span style="font-weight:bold;display:block;">@TreeNodeName</span>
</div>

<div style="margin:5px;overflow:scroll;border:solid black 1px;">

    <table style="border-collapse:collapse;width:100%;">

        <thead>
            <tr>
                <th>Конвейер</th>
                <th>Активация</th>
                <th>Состояние</th>
                <th>Начало</th>
                <th>Завершение</th>
                <th>Комментарий</th>
            </tr>
        </thead>

        <tbody>

            @foreach (PipelineInfo info in Pipelines)
            {
                <tr>
                    <td>@info.Name</td>
                    <td>@info.Activation</td>
                    <td>@info.State</td>
                    <td>@info.Start.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@info.Finish.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@info.Status</td>
                </tr>
            }

        </tbody>

    </table>

</div>