@page "/flow/pipeline/{uuid:guid}"

@inject IDomainModel DomainModel;
@inject DaJetHttpClient DataSource;
@inject NavigationManager Navigator;

<div style="margin:5px;">

    <p><span style="font-weight:bold;margin-right:5px;">@Uuid</span></p>

    <p>
        <span style="font-weight:bold;margin-right:5px;">@TreeNodeName</span>
        <input type="button" value="✕" style="cursor:pointer;border:none;background:none;" @onclick="NavigateToHomePage">
    </p>

    <p><span style="font-weight:bold;margin-right:5px;">@PipelineName</span></p>
    
    <table style="border-collapse:collapse;width:100%;">

        <thead>
            <tr>
                <th>Конвейер</th>
                <th>Активация</th>
            </tr>
        </thead>

        <tbody>

            @foreach (PipelineRecord pipeline in Pipelines)
            {
                <tr>
                    <td>@pipeline.Name</td>
                    <td>@pipeline.Activation</td>
                </tr>
            }

        </tbody>

    </table>

</div>