@page "/flow/pipeline/{uuid:guid}"

@inject IDomainModel DomainModel;
@inject DaJetHttpClient DataSource;
@inject IJSRuntime JSRuntime;
@inject NavigationManager Navigator;

<NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<style>
    th {
        resize: horizontal;
        overflow: auto;
        border: solid black 1px;
        padding: 5px;
        position: sticky;
        top: 0px;
        background-color: lightgray;
    }

    td {
        border: solid black 1px;
        padding: 5px;
    }

    .dajet-button {
        cursor: pointer;
        min-width: 75px;
        border: 1px solid black;
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .dajet-image-button {
        width: 24px;
        height: 24px;
        cursor: pointer;
        vertical-align: middle;
    }

    .pipeline-layout {
        display: grid;
        gap: 1px;
        padding: 1px;
        margin: 5px;
        align-content: start;
        height: calc(100vh - 60px);
        grid-template:
            "pipeline-header" min-content
            "pipeline-content" / 1fr;
    }

    .pipeline-header {
        display: grid;
        grid-area: pipeline-header;
    }

    .pipeline-content {
        display: grid;
        grid-area: pipeline-content;
        overflow: scroll;
        white-space: nowrap;
    }

</style>

<div class="pipeline-layout">

    <div class="pipeline-header">

        <p>
            <span>@TreeNodeName</span>
            <input type="button" value="✕" style="margin-left:5px;cursor:pointer;border:none;background:none;" @onclick="NavigateToHomePage">
        </p>

        <p>
            @if (Pipeline is null)
            {
                <span style="font-weight:bold;">ERROR: pipeline is not found !!!</span>
            }
            else
            {
            <p>
                <span style="font-weight:bold;">Конвейер:</span>
                <input type="text" size="20" @bind-value="@Pipeline.Name" />
            </p>
            <p>
                <span style="font-weight:bold;">Активация:</span>
                <select @bind="@Pipeline.Activation">
                        @foreach (PipelineMode mode in Enum.GetValues<PipelineMode>())
                        {
                        <option value="@mode">@mode.ToString()</option>
                        }
                </select>
            </p>
            }
        </p>

        <p>
            <input type="button" class="dajet-button" value="Добавить обработчик" @onclick="SelectProcessor">

            @if (Pipeline.IsChanged)
            {
                <input type="button" class="dajet-button" value="Сохранить изменения" style="margin-left:5px" @onclick="SaveChanges">
            }
        </p>

        <table style="margin-top:5px;border-collapse:collapse;">

            <tr>
                <td colspan="2">
                    <input type="button" value="@(Pipeline.ShowOptions ? "-" : "+")" style="cursor:pointer;border:none;background:none;" @onclick="@Pipeline.ToggleOptions">
                    <span style="font-weight:bold;">Настройки конвейера</span>
                </td>
            </tr>

            @if (Pipeline.ShowOptions)
            {
                @foreach (OptionViewModel option in Pipeline.Options)
                {
                    <tr>
                        <td style="resize:horizontal;overflow:auto;">@option.Name</td>
                        <td><input type="text" size="40" @bind-value="@option.Value" /></td>
                    </tr>
                }
            }

        </table>

    </div>

    <div class="pipeline-content">

        @foreach (ProcessorViewModel processor in Pipeline.Processors)
        {
            <table style="margin-top:5px;border-collapse:collapse;">

                <tr>
                    <td colspan="2">
                        <input type="button" value="@(processor.ShowOptions ? "-" : "+")" style="cursor:pointer;border:none;background:none;margin-right:10px;" @onclick="@processor.ToggleOptions">

                        <img src="/img/move_up.png" class="dajet-image-button" @onclick="@(async () => { await MoveUp(processor); })" />
                        <img src="/img/move_down.png" class="dajet-image-button" @onclick="@(async () => { await MoveDown(processor); })" />
                        
                        <span style="font-weight:bold;">@processor.Handler</span>

                        <img src="/img/delete.png" class="dajet-image-button" @onclick="@(async () => { await Remove(processor); })" />
                    </td>
                </tr>

                @if (processor.ShowOptions)
                {
                    @foreach (OptionViewModel option in processor.Options)
                    {
                        <tr>
                            <td style="resize:horizontal;overflow:auto;">@option.Name</td>
                            <td><input type="text" size="40" @bind-value="@option.Value" /></td>
                        </tr>
                    }
                }

            </table>
        }

    </div>

</div>