@page "/flow/pipeline/{uuid:guid}"

@inject IDomainModel DomainModel;
@inject DaJetHttpClient DataSource;
@inject IJSRuntime JSRuntime;
@inject NavigationManager Navigator;

<NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<style>
    th {
        resize: horizontal;
        overflow: auto;
        border: solid black 1px;
        padding: 5px;
        position: sticky;
        top: 0px;
        background-color: lightgray;
    }

    td {
        border: solid black 1px;
        padding: 5px;
    }

    .dajet-button {
        cursor: pointer;
        margin-left: 5px;
        min-width: 75px;
        padding: 0px 5px 0px 5px;
        border: 1px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .pipeline-layout {
        display: grid;
        gap: 1px;
        padding: 1px;
        margin: 5px;
        align-content: start;
        height: calc(100vh - 60px);
        grid-template:
            "pipeline-header" min-content
            "pipeline-content" / 1fr;
    }

    .pipeline-header {
        display: grid;
        grid-area: pipeline-header;
    }

    .pipeline-content {
        display: grid;
        grid-area: pipeline-content;
        overflow: scroll;
        white-space: nowrap;
    }

</style>

<div class="pipeline-layout">

    <div class="pipeline-header">

        <p><span style="font-weight:bold;">@Uuid</span></p>

        <p>
            <span style="font-weight:bold;margin-right:5px;">@TreeNodeName</span>
            <input type="button" value="✕" style="cursor:pointer;border:none;background:none;" @onclick="NavigateToHomePage">
        </p>

        <p><span style="font-weight:bold;">@PipelineName</span></p>

        <ul>
            @foreach (OptionRecord option in GetPipelineOptions())
            {
                <li> - <span>@option.Name</span> : <span>@option.Value</span></li>
            }
        </ul>

        <p>
            <input type="button" class="dajet-button" value="Добавить обработчик" @onclick="SelectProcessor">
            @if (HasChanges)
            {
                <input type="button" class="dajet-button" value="Сохранить изменения" @onclick="SaveChanges">
            }
        </p>

    </div>

    <div class="pipeline-content">

        @foreach (ProcessorViewModel processor in Processors)
        {
            <table style="margin-top:5px;border-collapse:collapse;">

                <tr>
                    <td colspan="2">
                        <input type="button" value="+" style="cursor:pointer;border:none;background:none;" @onclick="@processor.ToggleOptions">
                        <span style="font-weight:bold;">@processor.Handler</span>
                    </td>
                </tr>

                @if (processor.ShowOptions)
                {
                    @foreach (OptionViewModel option in processor.Options)
                    {
                        <tr>
                            <td style="resize:horizontal;overflow:auto;">@option.Name</td>
                            <td><input type="text" size="40" @bind-value="@option.Value" /></td>
                        </tr>
                    }
                }

            </table>
        }

    </div>

</div>