@page "/flow/pipeline/{uuid:guid}"

@inject IDomainModel DomainModel;
@inject DaJetHttpClient DataSource;
@inject IJSRuntime JSRuntime;
@inject NavigationManager Navigator;

<NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<style>
    
    td {
        border: solid black 1px;
        padding: 5px;
    }

    .dajet-cell {
        border: none;
        padding: 3px;
    }

    .dajet-button {
        cursor: pointer;
        min-width: 75px;
        border: 1px solid black;
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .dajet-icon-button {
        width: 16px;
        height: 16px;
        cursor: pointer;
        vertical-align: middle;
    }

    .dajet-image-button {
        width: 24px;
        height: 24px;
        cursor: pointer;
        vertical-align: middle;
    }

    .pipeline-layout {
        display: grid;
        gap: 1px;
        padding: 1px;
        margin: 5px;
        align-content: start;
        height: calc(100vh - 60px);
        grid-template:
            "pipeline-header" min-content
            "pipeline-content" / 1fr;
    }

    .pipeline-header {
        display: grid;
        grid-area: pipeline-header;
    }

    .pipeline-content {
        display: grid;
        grid-area: pipeline-content;
        overflow: scroll;
        white-space: nowrap;
    }

</style>

<div class="pipeline-layout">

    <div class="pipeline-header">

        <p>
            <span style="font-weight:bold;">@TreeNodeName</span>
            <input type="button" value="✕" @onclick="NavigateToHomePage"
                   style="margin-left:5px;cursor:pointer;border:none;background:none;color:red;font-weight:bold;" />
        </p>

        @if (Pipeline is null)
        {
            <p><span style="font-weight:bold;">ERROR: pipeline is not found !!!</span></p>
        }
        else
        {
            <table style="width:max-content;">
                <tr>
                    <td class="dajet-cell"><span style="font-weight:bold;">Конвейер:</span></td>
                    <td class="dajet-cell"><input type="text" size="20" @bind-value="@Pipeline.Name" /></td>
                    <td class="dajet-cell"><span style="font-weight:bold;">Начало:</span></td>
                    <td class="dajet-cell"><span>@PipeInfo?.Start.ToString("yyyy-MM-dd HH:mm:ss")</span></td>
                </tr>
                <tr>
                    <td class="dajet-cell"><span style="font-weight:bold;">Активация:</span></td>
                    <td class="dajet-cell">
                        <select @bind="@Pipeline.Activation">
                            @foreach (PipelineMode mode in Enum.GetValues<PipelineMode>())
                            {
                                <option value="@mode">@mode.ToString()</option>
                            }
                        </select>
                    </td>
                    <td class="dajet-cell"><span style="font-weight:bold;">Завершение:</span></td>
                    <td class="dajet-cell"><span>@PipeInfo?.Finish.ToString("yyyy-MM-dd HH:mm:ss")</span></td>
                </tr>
                <tr>
                    <td class="dajet-cell" colspan="2">
                        <span style="font-weight:bold;">Обновлять состояние</span>
                        <input style="vertical-align:middle;" type="checkbox" @onchange="RefreshPipelineServerInfo" />
                    </td>
                    <td class="dajet-cell"><span style="font-weight:bold;margin-right:5px;">Cостояние:</span></td>
                    <td class="dajet-cell">
                        <span style="margin-right:5px;">@PipeInfo?.State</span>
                        @if (PipeInfo is not null)
                        {
                            @if (PipeInfo.State == PipelineState.Idle)
                            {
                                <img src="/img/start.png" class="dajet-icon-button" @onclick="ExecutePipeline" />
                            }
                            else if (PipeInfo.State != PipelineState.None)
                            {
                                <img src="/img/stop.png" class="dajet-icon-button" @onclick="DisposePipeline" />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td class="dajet-cell" colspan="2">
                        <span style="font-weight:bold;">Описание состояния</span>
                        <input type="button" value="@(Pipeline.ShowPipelineStatus ? "-" : "+")" style="cursor:pointer;border:none;background:none;" @onclick="@Pipeline.TogglePipelineStatus" />
                    </td>
                    <td class="dajet-cell">
                        <input type="button" class="dajet-button" value="Валидировать" @onclick="ValidatePipeline" />
                    </td>
                    <td class="dajet-cell">
                        @if (Pipeline.IsValid.HasValue)
                        {
                            @if (Pipeline.IsValid.Value)
                            {
                                <img src="/img/success.png" style="width:16px;height:16px;vertical-align:middle;" />
                            }
                            else
                            {
                                <img src="/img/error.png" style="width:16px;height:16px;vertical-align:middle;" />
                            }
                        }
                    </td>
                </tr>
            </table>
            
            @if (Pipeline.ShowPipelineStatus)
            {
                <p style="margin-bottom:5px;">@Pipeline.Status</p>
            }   
        }

        <table style="margin-top:5px;margin-bottom:5px;border-collapse:collapse;">

            <tr>
                <td colspan="2">
                    <input type="button" value="@(Pipeline.ShowOptions ? "-" : "+")" style="cursor:pointer;border:none;background:none;" @onclick="@Pipeline.ToggleOptions" />
                    <span style="font-weight:bold;margin-right:5px;">Настройки конвейера</span>
                    <img src="/img/refresh.png" class="dajet-icon-button" style="margin-right:5px;" @onclick="ReStartPipeline" />
                    <img src="/img/processor-add.png" class="dajet-icon-button" style="margin-right:5px;" @onclick="SelectProcessor" />
                    @if (Pipeline.IsChanged)
                    {
                        <img src="/img/save.png" class="dajet-icon-button" @onclick="SaveChanges" />
                    }
                </td>
            </tr>

            @if (Pipeline.ShowOptions)
            {
                @foreach (OptionViewModel option in Pipeline.Options)
                {
                    <tr>
                        <td style="resize:horizontal;overflow:auto;">@option.Name</td>
                        <td><input type="text" size="40" @bind-value="@option.Value" /></td>
                    </tr>
                }
            }

        </table>

    </div>

    <div class="pipeline-content">

        @foreach (ProcessorViewModel processor in Pipeline.Processors)
        {
            <table style="margin-top:5px;border-collapse:collapse;">

                <tr>
                    <td colspan="2">
                        <input type="button" value="@(processor.ShowOptions ? "-" : "+")" style="cursor:pointer;border:none;background:none;margin-right:5px;" @onclick="@processor.ToggleOptions" />

                        <img src="/img/move_up.png" class="dajet-icon-button" @onclick="@(async () => { await MoveUp(processor); })" />
                        <img src="/img/move_down.png" class="dajet-icon-button" @onclick="@(async () => { await MoveDown(processor); })" />
                        
                        <span style="font-weight:bold;">@processor.Handler</span>

                        <img src="/img/delete.png" class="dajet-icon-button" @onclick="@(async () => { await Remove(processor); })" />
                    </td>
                </tr>

                @if (processor.ShowOptions)
                {
                    @foreach (OptionViewModel option in processor.Options)
                    {
                        <tr>
                            <td style="resize:horizontal;overflow:auto;">@option.Name</td>
                            <td><input type="text" size="40" @bind-value="@option.Value" /></td>
                        </tr>
                    }
                }

            </table>
        }

    </div>

</div>