@inject IJSRuntime JSRuntime;
@inject IDialogService DialogService;

<li style="white-space:nowrap; margin: 0px; padding: 0px 0px 0px 15px; @(Model.IsVisible ? "display: block;" : "display: none;")">

    @if (Model != null && Model.UseToggle)
    {
        <span style="display:inline; margin-right:3px; padding: 0px; cursor:pointer; user-select:none;" @onclick="ToggleClick">
            @(Model.IsExpanded ? "-" : "+")
        </span>
    }

    @if (Model.CanBeEdited && Model.IsInEditMode)
    {
        <div class="tree-node-container">
            
            <input type="text" class="tree-node-input" @ref="TitleInput"
               @bind-value="@Model.Title" @bind-value:event="oninput" @onkeyup="KeyPress" @onblur="LostFocus" />

            <MudTooltip Text="Отменить редактирование">
                <input type="button" value="✕" class="tree-node-cancel-button" @onclick="CancelEditMode">
            </MudTooltip>

        </div>
    }
    else
    {
        <span class="tree-node-span"
          @ondblclick="DoubleClick" @ondblclick:preventDefault="true"
          @oncontextmenu="OpenContextMenu" @oncontextmenu:preventDefault="true">
            @(Model == null ? string.Empty : Model.Title)
        </span>
    }

    @if (Model != null && Model.Nodes != null && Model.Nodes.Count > 0)
    {
        <ul style="@(Model.IsExpanded ? "display: block;" : "display: none;")">
            
            @foreach (TreeNodeModel model in Model.Nodes)
            {
                <TreeNode Model="model" />
            }

        </ul>
    }

</li>