@page "/dajet-code-editor/{**FilePath}"

@inject MonacoEditor MonacoEditor;
@inject DaJetHttpClient DaJetClient;
@inject NavigationManager Navigator;

<div class="script-editor-layout">

    <div class="script-editor-action">
        
        <div style="margin:5px;">
            <input type="button" value="✕" class="script-editor-close-button" @onclick="NavigateToHomePage">
            <span style="font-weight:bold;">@FilePath</span>
        </div>

        <div>
            <input type="button" class="script-editor-button" value="Выполнить" @onclick="ExecuteScript" />
            
            @if (ScriptIsChanged)
            {
                <input type="button" class="script-editor-button" value="Сохранить" @onclick="SaveSourceCode" />
            }
        </div>
    </div>

    <div id="monaco-editor" class="script-editor-script"></div>

    <div class="script-editor-result">
        
        @if (!string.IsNullOrEmpty(ErrorText))
        {
            <span style="color:red;margin:5px">@ErrorText</span>
        }
        else if (!string.IsNullOrEmpty(ResultText))
        {
            <textarea style="border:none; margin:5px;" rows="10">@ResultText</textarea>
        }
        else if (ResultTable is not null && ResultTable.Count > 0)
        {
            <table style="border: 1px solid black">

                <tr>
                    @for (int i = 0; i < ResultTable[0].Count(); i++)
                    {
                        <td style="padding: 2px; border: 1px solid black; font-weight: bold;">@(ResultTable[0].GetName(i))</td>
                    }
                </tr>

                @foreach (DataObject row in ResultTable)
                {
                    <tr>
                        @for (int i = 0; i < row.Count(); i++)
                        {
                            <td style="padding: 2px; border: 1px solid black;">@(row.GetValue(i))</td>
                        }
                    </tr>
                }

            </table>
        }
        
    </div>

</div>